.div {
  grid-column: 1;
  grid-row: 3;
  width: 18.4rem;
}

.ul {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  flex-wrap: wrap;
  width: 19rem;
  padding: 0;
}

.ul li {
  background-color: #e0e0e0;
  width: 2rem;
  padding: 2rem;
  border: 1px;
  border-color: #d1d1d1;
  border-style: solid;
}

.ul .Zero {
  order: 9;
  width: 8.1rem;
}

.ul .dot {
  order: 10;
}
